# Environment
.env

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth

# VSCode
.vscode

# Files
helper_functions.py
0_device_setup_template.ipynb
playground.ipynb

# Folders
models/

